.bin
.bundle
.byebug_history
.idea
.pry-*
.pryrc
.rbenv-version
.ruby-*
.rvmrc
.tool-versions
.vscode
*.DS_Store
*.gem
*.local
*.orig
/coverage
Gemfile.lock
pkg
test/fixtures/*.fixture
test/fixtures/fake_home_path/.gem/specs
test/fixtures/fake_home_path/.local/share/gem/specs
tmp/restart.txt
vendor/bundle
